<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/coordi.css" />
    <title>코디 추천 화면</title>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="/javascript/partial/imgSliding/script.js"
    ></script>
    <script
      type="text/javascript"
      src="/javascript/partial/imgSliding/script1.js"
    ></script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      img {
        border: none;
      }

      #imgCarousel {
        height: 390px;
        margin: 90px auto 120px;
        position: relative;
        width: 710px;
        background-color: #000;
      }
      #imgCarousel .arrow {
        width: 44px;
        height: 44px;

        position: absolute;
        top: 50%;
        margin-top: -22px;
        left: 0;
        cursor: pointer;
      }
      #imgCarousel .next {
        background-position: right top;
        left: auto;
        right: 0;
      }
      #imgCarousel .arrow:hover {
        background-position: left bottom;
      }
      #imgCarousel .next:hover {
        background-position: right bottom;
      }
      #stage {
        left: 50%;
        margin-left: -320px;
        position: absolute;
        width: 640px;
        height: 100%;
      }
      #stage img {
        display: none;
        border: 2px #999 solid;
      }
      #stage .default {
        display: block;
        left: 50%;
        margin-left: -135px;
        position: absolute;
      }
      #stage .animationReady {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      #stage1 {
        left: 50%;
        margin-left: -320px;
        position: absolute;
        width: 640px;
        height: 100%;
      }
      #stage1 img {
        display: none;
        border: 2px #999 solid;
      }
      #stage1 .default {
        display: block;
        left: 50%;
        margin-left: -135px;
        position: absolute;
      }
      #stage1 .animationReady {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    </style>

    <script language="javascript">
            rebtn = document.recom_btn;
            okbtn = document.ok_btn;
            let k = 0;
            let j = 0;
            let count = 0;
            let topData = new Array();
            let thangerID = new Array();
            let bhangerID = new Array();

            <%for(let i=0; i<topData.length; i++){ %>
              thangerID["<%=i%>"] = "<%= topData[i].hangerID%>";
              <%}%>
              <%for(let i=0; i<topData.length; i++){ %>
              bhangerID["<%=i%>"] = "<%= bottomData[i].hangerID%>";
              <%}%>

            // 확정 버튼 시 처리 해야할 부분
                console.log(thangerID,bhangerID)
            function ok() {
              const image = document.querySelectorAll("img");
              let top = [];
              for (let i = 0; i < image.length / 2; i++) {
                top[i] = image[i].style.zIndex;
              }
      >>>>>>> 5970c6318131aa30f89bea66455c59cb9dde2553
              let list = {};
              for (let i = 0; i < image.length / 2; i++) {
                list[i] = top[i];
              }
              let keysSorted = Object.keys(list).sort(function(a, b) {
                return list[a] - list[b];
              });
              let sorting = keysSorted[image.length/2 - 1];
              console.log(sorting);
              $.ajax({
                url: "/getCoordiCloth",
                method: "GET",
                dataType: "json",
                data: {hangerID: thangerID[sorting]}
              })
                .done(function(data) {
                  console.log(data);
                })
                .fail(function(err) {
                  console.log(err);
                });
              $.ajax({
                url: "./getCoordiCloth",
                method: "GET",
                dataType: "json",
                data: {hangerID: bhangerID[sorting]}
              })
                .done(function(data) {
                  console.log(data);
                })
                .fail(function(err) {
                  console.log(err);
                });

              window.location.href = "http://localhost:4000/";
            }

            function goBack() {
              window.history.back();
            } // 뒤로가기버튼 추가
    </script>
  </head>
  <body>
    <div id="page">
      <div id="imgCarousel">
        <div class="previous arrow">previous</div>
        <div class="next arrow">next</div>

        <div id="stage">
          <a href="#"
            ><img
              id="0"
              src=" <%=topData[0].cloImg%> "
              width="220"
              height="220"
              class="default"
              alt=""
          /></a>
          <% for(let i =1; i < topData.length; i++){ %>
          <a href="#"
            ><img
              id=" <%= i %> "
              src=" <%= topData[i].cloImg %> "
              width="220"
              height="220"
              alt=""
          /></a>
          <% }%>
        </div>
        <div id="stage1" style="margin-top:230px;">
          <a href="#"
            ><img
              id="5"
              src="<%=bottomData[0].cloImg%>"
              width="220"
              height="220"
              class="default"
              alt=""
          /></a>
          <% for(let i =1; i < bottomData.length; i++){%>
          <a href="#"
            ><img
              id="<%=i+bottomData.length%>"
              src="<%=bottomData[i].cloImg%>"
              width="220"
              height="220"
              alt=""
          /></a>
          <% }%>
        </div>
      </div>
    </div>

    <div class="button_base bt3D" name="ok_btn" onclick="ok()" id="bt2">
      <div>지금 코디 확정</div>
      <div>확정!</div>
    </div>
  </body>
</html>
