<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/coordi.css" />
    <title>코디 추천 화면</title>

    <script language="javascript">
            rebtn = document.recom_btn;
            okbtn = document.ok_btn;
         let i=0;
      let j =0;
      let count=0;
      let topData = new Array();
      console.log("<%=topData[0].cloImg%>")
      <% for(let i =0; i<topData.length; i++){%>
      topData[i] = "<%=topData[i].cloImg%>";
      i++;
      <%}%>
      console.log(topData[0]);
      let bottomData = new Array();
      <% for(let i =0; i<bottomData.length; i++){%>
          bottomData[j] = "<%=bottomData[i].cloImg%>";
          j++;
      <%}%>
      console.log(bottomData[0]);

      // 다시 추천하는 버튼 클릭시 처리 해야할 부분

      function recom() {
        var image = document.getElementById("img1");
        var image2 = document.getElementById("img2");
        count++;
        if(count==3||count==7){
        image.src = topData[0];
        image2.src = bottomData[0];
        }else {
          let countTop = count%topData.length;
          let countBottom = count%bottomData.length;
          image.src = topData[countTop];
        image2.src = bottomData[countBottom];
        }
        console.log(count);
      }
            // 확정 버튼 시 처리 해야할 부분

            function ok() {
              count = 0;
              if(count ==0){
              URL = "http://220.68.167.94:333/";
              window.location.href = URL;
             //window.open("http://localhost:4000/");
              //location.href = "http://localhost:4000/"

              }

            }
            

            function goBack() {
              window.history.back();
            } // 뒤로가기버튼 추가
    </script>
  </head>
  <body>
    <button onclick="goBack()" class="btBack">&nbsp;&lt;&nbsp;</button>
    <table align="center" class="todayCD">
      <tr>
        <td><font size="200" style="bold">오늘의 추천</font></td>
      </tr>
      <tr>
        <td>
          <img
            src="<%=topData[0].cloImg%>"
            ;
            width="250"
            height="200"
            align="center"
            id="img1"
          />
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="<%=bottomData[1].cloImg%>"
            ;
            width="250"
            height="200"
            id="img2"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div
            class="button_base bt3D"
            name="recom_btn"
            onclick="recom()"
            id="bt1"
          >
            <div>다른 추천 보기</div>
            <div>클릭!</div>
          </div>

          <div class="button_base bt3D" name="ok_btn" onclick="ok()" id="bt2">
            <div>지금 코디 확정</div>
            <div> 확정!</div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
