<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="/javascript/homeSerial.js"></script>

    <script type="text/javascript" src="/javascript/weather.js"></script>

    <link rel="stylesheet" href="/css/home.css" /> 
    
   <!-- 날씨아이콘 -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  
<!-- 날짜 + 시간 css -->
    <link rel="stylesheet" href="/css/partial/dateTime.css" /> 
    <link rel="stylesheet" href="/css/partial/weather.css" /> 

    <link rel="stylesheet" href="/css/partial/homeCalendar.css" /> 
    
    <title><%=title %></title>

  </head>

  <body>
      <div class="dateTime">
          <div id="time-result">
          </div>
                  <div id="clock" >
                  </div>
      </div>


  <div class="greet">
      <p style="font-size: 70px;">안녕하세요, 여러분!</p>
      오늘도 좋은 하루 보내세요😊
  </div>

  <img id="weather-Image" />
  <div class="weather-js"></div>
  <div class="temp"></div>
  <div class="index_margin"></div>


<!--달력-->
<% include ./partial/homeCalendar%>


        <form action="test" >
            <input type="submit" class="test"/><p id="tt">옷 등록</p>
        </form>


        <!--메뉴ver2-->
        <div class="menu borderXwidth">
            <a href="#">MAIN</a>
            <a href="closet">CLOSET</a>
            <a href="coordi">CODI</a>
            <a href="glassesImg" >GLASSES GALLERY</a>
          </div>

    
<div class="shopRank">

  <div id="css_tabs">
    <input id="tab1" type="radio" name="tab" checked="checked" />
    <input id="tab2" type="radio" name="tab" />
    <input id="tab3" type="radio" name="tab" />
    <label for="tab1">여성 쇼핑몰</label>
    <label for="tab2">남성 쇼핑몰</label>
    <label for="tab3">쇼핑몰 인기 검색어</label>

    <div class="tab1_content">
            <main class="grid">
                    <article>
                            <img src="/icons/Wshop1.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>1위<br><%=name2[0]%></h3>
                                <p>조회수 <%=click2[0]%></p>
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[0]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop2.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>2위<br><%=name2[1]%></h3>
                                <p>조회수 <%=click2[1]%></p>
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[1]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop3.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>3위<br><%=name2[2]%></h3>
                                <p>조회수 <%=click2[2]%></p> 
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[2]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop4.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>4위<br><%=name2[3]%></h3>
                                <p>조회수 <%=click2[3]%></p>
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[3]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop5.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>5위<br><%=name2[4]%></h3>
                                <p>조회수 <%=click2[4]%></p> 
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[4]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop6.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>6위<br><%=name2[5]%></h3>
                                <p>조회수 <%=click2[5]%></p> 
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[5]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop7.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>7위<br><%=name2[6]%></h3>
                                <p>조회수 <%=click2[6]%></p>
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[6]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop8.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>8위<br><%=name2[7]%></h3>
                                <p>조회수 <%=click2[7]%></p> 
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[7]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Wshop9.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>9위<br><%=name2[8]%></h3>
                                <p>조회수 <%=click2[8]%></p> 
                                <div class="btGO"><div class="eff"></div> <a href="<%=shopping2[8]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>


                  </main>
        

    </div>
<!--남성쇼핑몰 순위-->
      <div class="tab2_content">

            <main class="grid">
                    <article>
                            <img src="/icons/Mshop1.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>1위<br><%=name[0]%></h3>
                                <p>조회수 <%=click[0]%></p>
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[0]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop2.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>2위<br><%=name[1]%></h3>
                                <p>조회수 <%=click[1]%></p>
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[1]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop3.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>3위<br><%=name[2]%></h3>
                                <p>조회수 <%=click[2]%></p> 
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[2]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop4.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>4위<br><%=name[3]%></h3>
                                <p>조회수 <%=click[3]%></p>
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[3]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop5.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>5위<br><%=name[4]%></h3>
                                <p>조회수 <%=click[4]%></p> 
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[4]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop6.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>6위<br><%=name[5]%></h3>
                                <p>조회수 <%=click[5]%></p> 
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[5]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop7.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>7위<br><%=name[6]%></h3>
                                <p>조회수 <%=click[6]%></p>
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[6]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop8.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>8위<br><%=name[7]%></h3>
                                <p>조회수 <%=click[7]%></p> 
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[7]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>
                        <article>
                            <img src="/icons/Mshop9.jpg" alt="Sample photo">
                            <div class="text">
                                <h3>9위<br><%=name[8]%></h3>
                                <p>조회수 <%=click[8]%></p> 
                                <div class="btGOM"><div class="effM"></div> <a href="<%=shopping[8]%>"> 바로가기 </a>  </div>
                            </div>
                        </article>


                  </main>
        

       </div>
    <div class="tab3_content">
            <table class="tbl_type" border="1" cellspacing="0" summary="쇼핑몰순위목록">
                    <caption>쇼핑몰 인기검색어 순위</caption>
                    <thead>
                    <tr>
                    <th abbr=순위 scope="col">순위</th>
                    <th abbr=품목 scope="col">품목</th>
                    <th scope="col">p</th>
                    </tr>
                    </thead>
                
                    <tbody>
                    <tr>
                    <td>1</td>
                    <td><%=product[0]%></td>
                    <td>102,981</td>
                    </tr>
                
                   
                
                    <tr>
                    <td class="ranking" scope="row">2</td>
                    <td><%=product[1]%></td>
                    <td>90,112</td>
                    </tr>
                
                    <tr>
                    <td class="ranking" scope="row">3</td>
                    <td><%=product[2]%></td>
                    <td>89,886</td>
                
                    </tr>
                    <tr>
                    <td class="ranking" scope="row">4</td>
                    <td><%=product[3]%></td>
                    <td>86,232</td>
                    </tr>
                
                    <tr>
                    <td class="ranking" scope="row">5</td>
                    <td><%=product[4]%></td>
                    <td>83,333</td>
                    </tr>
                
                    <tr>
                    <td class="ranking" scope="row">6</td>
                    <td><%=product[5]%></td>
                    <td>83,118</td>
                    </tr>
                
                    <tr>
                    <td class="ranking" scope="row">7</td>
                    <td><%=product[6]%></td>
                    <td>81,162</td>
                    </tr>

                    <tr>
                    <td class="ranking" scope="row">8</td>
                    <td><%=product[7]%></td>
                    <td>55,201</td>
                    </tr>
                
                    <tr>
                    <td class="ranking" scope="row">9</td>
                    <td><%=product[8]%></td>
                    <td>35,967</td>
                    </tr>

                    <tr>
                    <td class="ranking" scope="row">10</td>
                    <td><%=product[9]%></td>
                    <td>11,704</td>
                    </tr>

                    </tbody>
                    </table>
            
    
    </div>
</div>

</div>




    <div id="serialYes"></div>
    <div id="serialImage">

    </div>

    <!--날짜+시간 js-->
    <script src="/javascript/dateTime.js"></script>
  </body>



</html>