<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/closet.css" />
    <link rel="stylesheet" href="/css/imageInfo.css" />

    <style>
      body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <% include ./partial/slidingMenu %>
    <div class="mainContainer">
      <% if(closetImage==true){%>
      <img src="<%=imageInfo.cloImg%>" />

      <div class="mainInfo">group: <%=imageInfo.category%></div>

      <div class="mainInfo">category: <%=imageInfo.subclass1%></div>

      <div class="mainInfo">length: <%=imageInfo.subclass2%></div>

      <div class="mainInfo">type: <%=imageInfo.subclass3%></div>

      <div class="mainInfo">pattern: <%=imageInfo.subclass4%></div>

      <div class="mainInfo">tone: <%=imageInfo.Color%></div>
      <% }else {%>
      <img src="<%=imageInfo.gImg%>" />

      <div class="mainInfo">group: <%=imageInfo.gCategory%></div>

      <div class="mainInfo">category: <%=imageInfo.gsubclass%></div>

      <div class="mainInfo">length: <%=imageInfo.glength%></div>

      <div class="mainInfo">type: <%=imageInfo.gtype%></div>

      <div class="mainInfo">pattern: <%=imageInfo.pattern%></div>

      <div class="mainInfo">tone: <%=imageInfo.gstyle%></div>
      <%}%>
    </div>
    <div class="coordiContainer">
      <% for(let i =0; i<2; i++){%>
      <img src="<%=arr[i]%>" />
      <%}%>
    </div>
    <script>
      const image = document.querySelectorAll("img");
      console.log(image);
      for (let i = 1; i < image.length; i++) {
        image[i].addEventListener("click", clickHandle);
      }
      function clickHandle(e) {
        console.log(e.target.currentSrc);
        $.ajax({
          url: "./getCoordiHo",
          method: "GET",
          dataType: "json",
          data: {data: e.target.currentSrc}
        })
          .done(function(data) {
            console.log(data);
          })
          .fail(function(err) {
            console.log(err);
          });
        window.location.href = "http://localhost:4000/";
      }
    </script>
  </body>
</html>
