<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/saveImage.css" />
    <meta charset="utf-8" />
    
    <title>모달창 테스트</title>
  </head>

  <body>
    <h4 id="tit"> 추출된 이미지 정보를 확인하려면 버튼을 클릭하세요.</h4>
    
    <!-- 버튼 -->
    <button class="trigger">클릭!</button>

    <!-- 모달창 -->
    <div class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1 class="title">My Infomation</h1>
        <form action="/" method="POST">
          <input type="hidden" value="<%=tag%>" name="tag" />
          <!-- 분석된 이미지 띄우기 -->
          <table>
            <tr>
              <td>

                <!-- 분석된 이미지 정보 띄우기 -->
                <img
                  align="left"
                  src="upload/python/<%=tag%>.png"
                  width="200px"
                  height="200px"
                />
              </td>
              <td>
                  <td>
                      <input
                        type="hidden"
                        value="<%=clotheCategory%>"
                        name="category"
                      />
                      <div>카테고리-><%=clotheCategory%></div>
                      <input
                        type="hidden"
                        value="<%=clotheSubclass%>"
                        name="subclass"
                      />
                      <div>서브클래스-><%=clotheSubclass%></div>
                      <input
                        type="hidden"
                        value="<%=clothePattern%>"
                        name="pattern"
                      />
                      <div>패턴-><%=clothePattern%></div>
                      <input type="hidden" value="<%=clotheStyle%>" name="style" />
                      <div>스타일-><%=clotheStyle%></div>
                      <input type="hidden" value="<%=clotheLength%>" name="length" />
                      <div>옷길이-><%=clotheLength%></div>
                     
                      <div>타입-><%=clotheType%></div>
                      <input type="hidden" value="<%=clotheType%>" name="clo_type" />
                      <!-- 날씨 선택-->

                      <input type='checkbox' name='season' value='W' />겨울
                      <input type='checkbox' name='season' value='S' checked/>봄
                      <input type='checkbox' name='season' value='F' />여름
                      <input type='checkbox' name='season' value='U' />가을
                    </td>
              </td>
            </tr>
            <tr></tr>
            <tr>
            </tr>
          </table>

          <input type="button" id="cancel" value="취소" />
          <input type="submit" id="submit" value="보내기" />
        </form>
      </div>
    </div>



    <script type="text/javascript">
      var modal = document.querySelector(".modal");
      var trigger = document.querySelector(".trigger");
      var closeButton = document.querySelector(".close-button");
      var cancelButton = document.querySelector("#cancel");

      //console.log(modal);

      function toggleModal() {
        modal.classList.toggle("show-modal");
      }

      function windowOnClick(event) {
        if (event.target === modal) {
          toggleModal();
        }
      }
      function back() {
        window.location.href = "/test";
      }
      cancelButton.addEventListener("click", back);
      trigger.addEventListener("click", toggleModal);
      closeButton.addEventListener("click", toggleModal);
      cancel.addEventListener("click", toggleModal);
      window.addEventListener("click", windowOnClick);
    </script>


  </body>
</html>
